
.DS_Store

app/src/.DS_Store
*.lock
*.bin
*.lock
*.bin
*.lock


# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
*.gradle
.gradle
build/
.navigation
captures/
output.json


/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

# Mac OS X clutter
*.DS_Store



# Intellij IDEA (see https://intellij-support.jetbrains.com/entries/23393067)
.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/dataSources.ids