
.DS_Store
.DS_Store
app/src/.DS_Store
*.lock
*.bin
*.lock
*.bin
*.lock


# Android Studio
*.iml
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.navigation
captures/
output.json